<div>
  <div></div>
  <div tabindex="-1"></div>
  <div
  >
   <div id=":ut" class="a3s aiL msg8498267932913214134">
    <u></u>
    <u></u>

    <div style="height: 100%; margin: 0; padding: 0; width: 100%; background-color: #f5f4f2;">
     <center>
      <table
       align="center"
       border="0"
       cellpadding="0"
       cellspacing="0"
       height="100%"
       width="100%"
       style="border-collapse: collapse; height: 100%; margin: 0; padding: 0; width: 100%; background-color: #f5f4f2;"
      >
       <tbody>
        <tr>
         <td align="center" valign="top" id="m_8498267932913214134bodyCell" style="height: 100%; margin: 0; padding: 8px; width: 100%; border-top: 0;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_8498267932913214134templateContainer" style="border-collapse: collapse; border: 0; border-radius: 16px; max-width: 600px;">
           <tbody>
            <tr>
             <td
              valign="top"
              id="m_8498267932913214134templateHeader"
              style="
               background-color: #ffffff;
               background-image: none;
               background-repeat: no-repeat;
               background-position: center;
               background-size: cover;
               border-top: 0;
               border-bottom: 0;
               padding-top: 0px;
               padding-bottom: 0px;
               border-radius: 16px 16px 0 0;
              "
             >
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;">
               <tbody>
                <tr>
                 <td valign="top" style="padding: 16px;">
                  <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width: 100%; border-collapse: collapse;">
                   <tbody>
                    <tr>
                     <td valign="top" style="padding: 16px; text-align: center;">
                      <a
                       href="<%= appLink %>"
                       style="line-height: inherit; color: #4aa1f3; font-weight: normal; text-decoration: underline;"
                       target="_blank"
                      >
                       <img
                        align="center"
                        alt="Proton"
                        src="<%= appIcon %>"
                        width="190"
                        style="
                         width: 35.4477%;
                         max-width: 380px;
                         padding-bottom: 0;
                         vertical-align: bottom;
                         border: 0;
                         height: auto;
                         outline: none;
                         text-decoration: none;
                         font-family: Arial, Helvetica, sans-serif;
                         font-size: 16px;
                         line-height: 1.5em;
                         color: #4aa1f3;
                         display: inline;
                        "
                        data-image-whitelisted=""
                        class="CToWUd"
                        data-bit="iit"
                       />
                      </a>
                     </td>
                    </tr>
                   </tbody>
                  </table>
                 </td>
                </tr>
               </tbody>
              </table>
             </td>
            </tr>
            <tr>
             <td
              valign="top"
              style="background-color: #ffffff; background-image: none; background-repeat: no-repeat; background-position: center; background-size: cover; border-top: 0; border-bottom: 0; padding-top: 8px; padding-bottom: 8px;"
             >
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse; table-layout: fixed;">
               <tbody>
                <tr>
                 <td style="min-width: 100%; padding: 0 32px 0px 32px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-top: 1px solid #f5f4f2; border-collapse: collapse;">
                   <tbody>
                    <tr>
                     <td>
                      <span></span>
                     </td>
                    </tr>
                   </tbody>
                  </table>
                 </td>
                </tr>
               </tbody>
              </table>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;">
               <tbody>
                <tr>
                 <td valign="top">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 100%; min-width: 100%; border-collapse: collapse;">
                   <tbody>
                    <tr>
                     <td
                      valign="top"
                      style="
                       word-break: break-word;
                       color: #0c0c14;
                       font-family: Arial, Helvetica, sans-serif;
                       font-size: 16px;
                       line-height: 1.5em;
                       text-align: left;
                       padding-top: 8px;
                       padding-bottom: 12px;
                       padding-right: 32px;
                       padding-left: 32px;
                      "
                     >
                      <p style="padding: 0px; color: #0c0c14; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.5em; text-align: left; margin: 12px 0px;">
                        Welcome to Jobber!
                      </p>
                      <p style="padding: 0px; color: #0c0c14; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.5em; text-align: left; margin: 12px 0px;">
                        In order to get
                        started, you need to
                        verify your email
                        address.
                      </p>
                     </td>
                    </tr>
                   </tbody>
                  </table>
                 </td>
                </tr>
               </tbody>
              </table>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;">
               <tbody>
                <tr>
                 <td valign="top" align="left" style="text-align: center; padding-left: 32px; padding-right: 32px; padding-top: 0px; padding-bottom: 32px;">
                  <table
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   style="border-radius: 8px; background-color: #4aa1f3; margin-left: auto; margin-right: auto; border-collapse: separate;"
                  >
                   <tbody>
                    <tr>
                     <td
                      align="center"
                      valign="middle"
                      style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; padding-left: 32px; padding-right: 32px; padding-top: 12px; padding-bottom: 12px;"
                     >
                      <a
                       href="<%= verifyLink %>"
                       style="font-weight: normal; letter-spacing: 1px; line-height: 1.5em; text-align: center; text-decoration: none; color: #ffffff; display: block;"
                       target="_blank"
                      >
                       Verify email address
                      </a>
                     </td>
                    </tr>
                   </tbody>
                  </table>
                 </td>
                </tr>
               </tbody>
              </table>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse;">
               <tbody>
                <tr>
                 <td valign="top">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 100%; min-width: 100%; border-collapse: collapse;">
                   <tbody>
                    <tr>
                     <td
                      valign="top"
                      class="m_8498267932913214134mcnTextContent"
                      style="
                       word-break: break-word;
                       color: #0c0c14;
                       font-family: Arial, Helvetica, sans-serif;
                       font-size: 16px;
                       line-height: 1.5em;
                       text-align: left;
                       padding-top: 8px;
                       padding-bottom: 12px;
                       padding-right: 32px;
                       padding-left: 32px;
                      "
                     >
                      <p style="padding: 0px; color: #0c0c14; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.5em; text-align: left; margin: 12px 0px;">
                       Best,<br />
                       The Jobber Team
                      </p>
                     </td>
                    </tr>
                   </tbody>
                  </table>
                 </td>
                </tr>
               </tbody>
              </table>
             </td>
            </tr>
            <!-- <tr>
             <td
              valign="top"
              id="m_8498267932913214134templateFooter"
              style="
               background-color: #ffffff;
               background-image: none;
               background-repeat: no-repeat;
               background-position: center;
               background-size: cover;
               border-top: 0;
               border-bottom: 0;
               padding-top: 16px;
               padding-bottom: 16px;
               border-radius: 0 0 16px 16px;
              "
             >
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-collapse: collapse; table-layout: fixed;">
               <tbody>
                <tr>
                 <td style="min-width: 100%; padding: 0 32px 16px 32px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%; border-top: 1px solid #f5f4f2; border-collapse: collapse;">
                   <tbody>
                    <tr>
                     <td>
                      <span></span>
                     </td>
                    </tr>
                   </tbody>
                  </table>
                 </td>
                </tr>
               </tbody>
              </table>

             </td>
            </tr> -->
           </tbody>
          </table>
         </td>
        </tr>
       </tbody>
      </table>
     </center>
    </div>
   </div>
  </div>
 </div>
